body {
    overflow-x: hidden;
}

.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 5;
}

.navbar-brand {
    min-width: 159px;
    width: 159px;
    cursor: pointer;
}

header {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.custom-header-text {
    height: 210px;
    margin-top: 7rem;
    padding-left: 5rem;
    font-size: 46px;
    line-height: 1.52;
    letter-spacing: -1.7px;
    text-align: left;
    color: #ffffff;
}

.custom-header-text > span {
    color: #46bdff;
}

.header-img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: -1;
}

.nav-item > a {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.nav-item > a:hover {
    color: #46bdff !important;
}

.custom-hr {
    border: solid 3px #98c84d;
    width: 40px;
}

.custom-about-text {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.6px;
    color: #ffffff;
    margin-bottom: 2rem;
}

section {
    position: relative;
    width: 100% !important;
    min-height: 100vh;
}

.custom-h2 {
    color: #46bdff !important;
}

.about-us {
    margin: 0;
}

.about-us .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.about-us .row {
    margin: 0 auto;
    position: relative;
}

.about-us .row > div {
    width: 210px;
    max-width: 210px;
    min-height: 280px;
    cursor: pointer;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0;
}

.about-us-item {
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: #ffffff;
}

.about-us-item-top {
    position: relative;
    width: 100%;
    min-height: 140px;
}

.about-us-item-top img:first-child {
    width: 210px;
    min-height: 140px;
}

.about-us-item-top img:last-child {
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    min-height: 40px;
}

.about-us-item-bottom {
    position: relative;
    width: 100%;
    padding-top: 1rem;
    min-height: 140px;
}

.about-us-item-bottom p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
    color: #3c3c3c;
}

.about-us-item-bottom > p > span {
    font-size: 16px;
    line-height: 1.25;
}

.custom-counsel-btn {
    width: 196px;
    height: 42px;
    border-radius: 2px;
    border: solid 1px #ffffff;
    text-align: center;
    vertical-align: middle;
    line-height: 42px;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin: 0 auto;
    margin-top: 5rem;
}

.custom-counsel-btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.active {
    background-color: transparent !important;
}

#contact > img {
    height: 100%;
}

.contact-box {
    float: left;
    text-align: center;
}

.contact-box img {
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto;
}

.contact-box p {
    color: #ffffff;
    margin-top: 1rem;
}

.contact-request div {
    float: left;
}

.contact-request input,
.contact-request textarea {
    padding-left: 15px;
    background-color: rgba(255, 255, 255, .35);
    width: 100%;
    border: solid 1px #fff;
    height: 35px;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
}

.contact-request textarea {
    height: 450px;
    margin-top: 1rem;
}

.contact-request-submit {
    text-align: right;
}

.contact-request input[type=submit] {
    width: 360px;
    height: 45px;
    border: solid 2px #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.contact-request input[type=submit]:hover {
    background-color: rgba(255, 255, 255, .8);
}

.contact-top-btn {
    width: 180px;
    height: 40px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    margin-bottom: 0;
    background-color: #767676;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    padding-top: 3px;
    cursor: pointer;
}

.footer-logo {
    width: 136px;
    height: 30px;
}

.footer-text {
    font-size: 12px;
    letter-spacing: -0.7px;
    color: #cccccc;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer {
    background-color: #22334d !important;
}

.copyright-text {
    font-size: 12px;
    margin-top: 1rem;
    text-align: center;
    color: #cccccc;
}

.about-popup {
    position: fixed;
    overflow-y: scroll;
    min-width: 60% !important;
    min-height: 530px !important;
    max-height: 600px;
    background-color: #ffffff;
    z-index: 10;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
}

.about-popup-top {
    position: relative;
    width: 100%;
    min-height: 110px;
    overflow: hidden;
}

.about-popup-top > img {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.about-popup-top-div {
    position: relative;
    padding-top: 30px;
    padding-left: 40px;
    width: 100%;
    min-height: 110px;
}

.about-popup-top-div img {
    width: 40px;
    height: 40px;
    vertical-align: unset;
}

.about-popup-top-div p {
    display: inline-block;
    width: 70%;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 0;
    margin-left: 2rem;
    letter-spacing: -0.5px;
}

.about-popup-top-div p span {
    font-size: 24px;
    letter-spacing: -0.7px;
    font-weight: bold;
}

.about-popup-bottom {
    padding-top: 30px;
    padding-left: 40px;
}

.about-popup-bottom-div p:last-child {
    font-size: 16px;
    letter-spacing: -0.5px;
    color: #3c3c3c;
}

.about-popup-bottom-div p:last-child {
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: -0.4px;
    color: #3c3c3c;
}

.about-popup-bottom-div span {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    width: 200px;
    height: 40px;
    border-radius: 4px;
    background-color: #46bdff;
    font-size: 14px;
    letter-spacing: -0.4px;
    color: #ffffff;
    margin-right: 10px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.about-popup-bottom-div span:hover {
    border: 1px solid #46bdff;
    color: #46bdff;
    background-color: #fff;
}

.about-popup-top > span {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    z-index: 11;
}
